// Fix for Roboto font path
$roboto-font-path: '../assets/';
$fa-font-path:   "../font";

@import 'bootstrap';


body {
    .jumbotron {
        background-color: #b3ffb3  ;
      p{
        font-size:14px ;
      }
    }
    .navbar-name {
        font-size : 3.5rem;
    }
    .pachev-img {
     width:190px;
     height:190px;

  }
  .profile{
    padding:30px 0;
  }
  .pachev-head{
    color: #122b40;
  }
  .pachev-intro p {
    font-size:24px;
  }

}
footer {
    text-align: center;
    .social-links .social {
        color: #666;
        font-size: 1.2rem;
        display: inline-block;
        margin-right: 0.8em;
    }
}
