// Fix for Roboto font path
$roboto-font-path: '../assets/';
$fa-font-path:   "../font";

@import 'bootstrap';


body {
    .jumbotron {
        background-color: #b3ffb3  ;
    }
}
footer {
text-align: center;
    .social-links .social {
        color: #666;
        font-size: 1.5rem;
        display: inline-block;
        margin-right: 0.8em;
    }
}
