<div class="jumbotron text-center">
  <div class ="container-fluid">
    <h1>Bio</h1>

    <br/><br/>

    <p>Hi, my name is Pachev and this section will soon be my bio</p>

    <br/><br/>
  </div>
</div>
