<div class="jumbotron text-center">
    <div class ="container-fluid">
        <h1>Contact</h1>

        <br/><br/>

        <p>This section will contain my resume or maybe a picture</p>

        <br/><br/>
    </div>
</div>

