<div class="jumbotron text-center">
    <div class ="container-fluid">
        <h1>Contact</h1>

        <br/><br/>

        <p>Any of the icons on the bottom is a means of contacting me</p>

        <br/><br/>
    </div>
</div>

