<footer class="footer">
    <div class="container">

        <div class="row">

            <div clas="col-xs-12">

                <div class="social-links">

                    <a href="http://www.github.com/pachev" class="social">{{fa-icon "github-square" size=5}}</a>
                    <a href="mailto:pachevjoseph@gmail.com" class="social">{{fa-icon "envelope-square" size=5}}</a>
                    <a href="http://www.linkedin.com/in/pachev"  class="social">{{fa-icon "linkedin-square" size= 5}}</a>

                </div>

            </div>

        </div>

    </div>
    
</footer>
