<div class="jumbotron text-center">
  <div class ="container-fluid">
    <h1 class="pachev-head">Pachev Joseph</h1>
    <h4>Software Developer | Student | Quick Learner | Soccer Enthusiast</h4>

    <br/><br/>
      <br/><br/>
      <!--<div class="container container-fluid">-->
          <!--<p>I love interacting with others and use technology as the medium.</p>-->
      <!--</div>-->

    <br/><br/>
  </div>
</div>
<div class="pachev-intro container container-fluid text-center">
    <div class="row">
        <div class="col-md-4 ">
            <img class="img-circle pachev-img" src="/assets/images/me.jpg">
        </div>
      <div class="clearfix visible-xs-block"></div>
        <div class="col-md-7 ">
            <p>Hi, I'm Pachev and I'm what most people call a "people person". I love interacting with others,
                but I also love everything technology related.  Whether it's toying around with a new gadget,
                or writing code to interact with it.
            </p>
        </div>

    </div>
</div>
