<div class="jumbotron jumbotron-fluid text-center">
  <div class ="container-fluid">
    <h1 class="display-3">Homepage</h1>

    <br/><br/>

    <p>Website is currently under production. Coming soon with a great look</p>

    <br/><br/>
  </div>
</div>
