<div class="jumbotron text-center">
  <div class ="container-fluid">
    <h1>Projects</h1>

    <br/><br/>

    <p>This section will contain all the projects that I will be displaying.</p>

    <br/><br/>
  </div>
</div>
