<div class="jumbotron text-center">
  <div class ="container-fluid">
    <h1>Projects</h1>

    <br/><br/>
    <p>This is a list of projects that are either completed or that I am currently working on. </p>

    <br/><br/>
  </div>
</div>
<div class="container projects container-fluid">
    <h2>Web</h2>
  <ul class="web-project list-inline">
      <li>
          <div>
              <a class="img-thumbnail" href="https://github.com/martindidiego/splttr/tree/master/splttr-api"> Splitter API</a>
          </div>
          Python | HTML | Django
      </li>
      <li>
          <div>
              <a class="img-thumbnail" href="http://www.github.com/pachev/pachev-site"> This website</a>
          </div>
          HTML | Javascript | Sass | Ember JS
      </li>
  </ul>
    <h2>Mobile</h2>
    <ul class="web-project list-inline ">
        <li>
            <div>
                <a class="img-thumbnail" href="https://github.com/martindidiego/splttr"> Splitter</a>
            </div>
            HTML | Javascript | CSS | Angular JS | Ionic
        </li>
    </ul>
    <h2>Java</h2>
    <ul class="web-project list-inline ">
        <li>
            <div>
                <a class="img-thumbnail" href="https://github.com/pachev/Scheduler_Test"> Quick Student Scheduler</a>
            </div>
            HTML | Java EE | Intellij Idea
        </li>
    </ul>

</div>
